*.bats.log
*.o
*.trs
.deps
.dirstamp
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config
config.h
config.h.in
config.h.in~
config.log
config.status
configure
flock
flock-*.tar.gz
flock-*.tar.xz
flock.cpio
man/flock.1
man/flock.1.html
stamp-h1
tags
test-suite.log
